[Service]
ExecStart=/home/srv-aletheia-node/aletheia-node/start.sh
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=aletheia-node
User=srv-aletheia-node
Group=srv-aletheia-node
WorkingDirectory=/home/srv-aletheia-node/aletheia-node

[Install]
WantedBy=multi-user.target
