[Service]
ExecStart=/var/lib/buildkite-agent/builds/ubuntu-roo-1/aletheia/testnet/start.sh
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=aletheia-node
User=buildkite-agent
Group=buildkite-agent
WorkingDirectory=/var/lib/buildkite-agent/builds/ubuntu-roo-1/aletheia/testnet/

[Install]
WantedBy=multi-user.target
